/* div, header, footer, ul, a {
  border: 2px dashed blue
} */


/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color:#4a4a4a
}

/* img {
  display: block;
  overflow: hidden;
  } */

h1 {
  font-size: 2.5rem;
  color: #4a4a4a;
  font-weight: bold;
}

b {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: #4a4a4a;
}

h3 {

}

h4 {
  font-size: 1.5rem;
  color: #4a4a4a;
}

p {
  line-height: 1.25rem;
}

@media only screen and (min-width: 860px) {
  #mobile {
  display: none;
}
}

@media only screen and (max-width: 860px) {
  #desktop {
    display:none;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #4a4a4a;
  background-color: white;
}

header .container {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  }

header .icon {
  margin-left: 1.5rem;
  height: 80%;
}

header .logo {
  flex: 1;
  font-size: 1.5rem;
}

header ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  font-size: 1.5rem;
}

nav a {
  vertical-align: middle;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #4a4a4a;
}



@media only screen and (max-width: 860px) {

  header #mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

#mobile img {
    width: 100%;
  }
}
/* Banner Section */
.banner {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  background-color: #d8d8d8;
  display: flex;
}

.banner img {
  width: 100%;
}

.banner-text {
  margin:auto 2.5rem;
}

.banner-text h4 {
  margin: 2.5rem 0;
}

.button {
  border-radius: 8px;
  background-color: #4a4a4a;
  }

.button p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding: .5rem 1.5rem;
  border: #4a4a4a
}

@media only screen and (min-width: 860px) {

  .banner .feature-image {
    display: block;
    width: 60%;
    margin: 2rem 0 2rem 1.5rem;
  }
}
/* Modifications for Mobile Version */
@media only screen and (max-width: 860px) {
  .banner .feature-image {
    display: block;
    width:100%;
    height: 180px;
    }

  .banner {
      display: block;
    }

  .banner-text {
  margin:2rem 1rem;
   }

  .button {
  border-radius: 4px;
  }

  .banner-text h4 {
  margin: 2.5rem 0 2rem 0;
  }
}

/* Testimonial Section */

.testimonial-section {
  display: flex;
  background-color: white;
  width: 100%;
  margin-top: 4rem;
}

.feature-testimonial {
  flex: 1;
  max-width: 60%;
}

.feature-testimonial img {
  /* adding this reduces the size of image to the size of it's container */
  display: block;
  width: 95%;
  height: auto;
  margin: 2rem 1.5rem;
}

.testimonial-text {
  margin: 2rem 1.5rem;
}

.testimonial-text p {
  margin: 1.5rem 0;
}

.featurettes-section {
 margin-top: 2rem;
  display: block;
  width: 423px;
  height: 168px;
}

.featurettes-section a {
  color: blue;
}

.featurette-one, .featurette-two, .featurette-three {
  display: flex;
}

.featurette-one:hover, .featurette-two:hover, .featurette-three:hover {
  background-color: #d8d8d8
}

.featurette-image {
  flex: 1;
  max-width: 35%;
  margin: 1rem;
}

.featurette-image img {
  max-width: 100%;
}

.featurette-text {
  width: 60%;
  align-items: center;
  margin: auto 0;
}

.featurette-text p {
  margin: .5rem 0;
}

/* Modifications for Mobile Version */
@media only screen and (max-width: 860px) {
  .featurettes-section {
    width: 100%;
    height: auto;
  }

  .featurette-one, .featurette-two, .featurette-three {
    display: block;
  }

    .featurette-image {
    display: none;
  }

  .featurette-text {
    width: 100%;
    margin: 0 1rem;
  }

  .featurette-text img{
   width: 90%;
   margin: 1rem 0;
}
}

/* Classes Section */

.classes-section {
  background-color: #d8d8d8;
  }

.classes-section h2 {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.class-tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  padding-bottom: 32px;
  max-width: 1100px;
}

.tile {
  width: 330px;
  height: 330px;
  margin: 1rem;
  background-color: white;
}

.tile img {
  width: 100%
}

.tile-text {
  margin: 0 1rem;
}

.tile-text h4 {
  margin: 1rem 0;
}

.tile-text p {
  margin: .5rem 0;
}

@media only screen and (max-width: 860px) {
.tile img, .tile p{
  display:none;
}
.tile {
  width: 100%;
  height: auto;
  margin: .5rem 1rem;
  background-color: #9b9b9b;
}
.tile-text {
  background-color: #9b9b9b;
}
}

/* Thesis Exhibit Section */

.thesis-section h2 {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
  color: black;

}

.thesis-exhibit {
  display: flex;
  background-color: white;
  width: 100%;
  margin-top: 2rem;
}

 .thesis-exhibit h4 {
  font-weight: bold;
  color: black;
}

.feature-exhibit {
  flex: 1;
  max-width: 60%;
}

.feature-exhibit h4 {
  margin: 0 0 1.5rem 1.5rem;
}

.feature-exhibit p {
  margin: 0 1.5rem 2rem 1.5rem;
}

.feature-exhibit video {
  /* adding this reduces the size of image to the size of it's container */
  display: block;
  width: 95%;
  height: auto;
  margin: 0 1rem 1.5rem 1.5rem;
}

.exhibits-section {
  display: block;
  width: 423px;
  height: 168px;
}


.exhibit-one, .exhibit-two, .exhibit-three {
  display: flex;
}

.exhibit-one:hover, .exhibit-two:hover, .exhibit-three:hover {
  background-color: #d8d8d8
}

.exhibit-image {
  flex: 1;
  max-width: 35%;
  margin: 1rem;
}

.exhibit-image img {
  max-width: 100%;
}

.exhibit-text {
  width: 60%;
  align-items: center;
  margin: auto 0;
}

.exhibit-text p {
  margin: .5rem 0;
}


@media only screen and (max-width: 760px) {

}

/* Footer */

footer {
  border-top: #9b9b9b solid 1px;
  padding: 1.5rem 2rem;
  height: 3.875rem;
}

footer {
  display: flex;
  font-size: .75rem;
  justify-content: space-between;
}

footer p {
  margin: 0 1.5rem;
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}
